:javascript
  var values = #{@messages.map(&:user).uniq.reject{|u|!u}.map{|u|{val:u.name}}.to_json};

- if @messages.any?
  = paginate @messages

  %table.table.table-striped.messages
    - @messages.each do |message|
      = render 'messages/show', message: message

  = paginate @messages
- else
  %p.no_results= t('search.no_results')
