%h2= t('.resend_confirmation_instructions')
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :class => 'form-horizontal', :method => :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true
  .form-actions
    = f.button :submit, t('.resend_confirmation_instructions')
= render "devise/shared/links"
