:javascript
  $(document).ready(function() {
    $group = $('.create .control-group');
    $button = $('.create button');
    $help = $('.create .help-inline');
    function createDomainError(msg) {
      $group.removeClass('success').addClass('error');
      $button.attr('disabled', 'disabled');
      $help.html(msg);
    }
    $('.create input').keyup(function() {
      slug = $('.create input').val();
      if (slug.match(/^[a-z0-9][a-z0-9-_.]{0,61}[a-z0-9]$/)) {
        $.get('check?q=' + slug, function(data) {
          if (data) {
            $group.removeClass('error').addClass('success');
            $button.removeAttr('disabled');
            $help.html('');
          } else createDomainError("#{t('.taken')}");
        });
      } else createDomainError("#{t('.format')}");
    });
    $('.create form').submit(function(e){
      e.preventDefault();
      document.location = 'http://' + $('.create input').val() + '.#{request.domain}/register';
    });
  });
.hero-unit.create
  %h2= t('.welcome')
  %form.form-inline
    .control-group
      %controls
        .input-prepend.input-append
          .add-on
            %i.icon-globe
            http://
          %input.input-medium{id: 'slug', type: 'text', maxlength: 63}
          .add-on .rubybb.com
        %button.btn.btn-large{disabled: 'disabled'}= t('.create')
        .help-inline
  %p= t('.about')
  %p= link_to t('.more'), static_path('about', host: 'www.rubybb.com', :only_path => false)
