!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? "#{yield(:title)} - #{t('common.title')}" : t('common.title')
    %meta{:content => t('common.description'), :name => "description"}
    %meta{:content => "Julien Grillot", :name => "author"}
    = favicon_link_tag '/ruby.png', rel: 'image_src', :type => 'image/png'
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag admin_path(format: :css), :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    :css
      #banner { background-color: #{@domain.theme}; }
      a, .btn-link, .btn-link:hover, .meta a, .user a, a:hover { color: #{@domain.theme}; }
      .navbar-static-top .navbar-inner { background-color: #{@domain.theme}; }
      .navbar-static-top .navbar-inner .nav .dropdown-menu a:hover { background-color: #{@domain.theme}; }
      .navbar .badge-success { color: #{@domain.theme}; }

    - if can? :read, Notification.new
      = subscribe_to "/#{current_user.id}/notifications"
      :javascript
        function link_to(text, href){ return '<a href="'+href+'">'+text+'</a>'; }
        $(document).ready(function() {
          $notifications = $('#faye-notifications');
          PrivatePub.subscribe('/#{current_user.id}/notifications', function(data) {
            $notifications.html(data.count);
            $notifications.removeClass('hidden');
            $.gritter.add({title: data.title, text: data.content + ' ' + link_to('#{t('common.read')}', data.link), image: data.avatar});
          });
        });
  %body
    #banner
      .container
        - if @domain.banner.exists?
          = link_to @domain.url.present? ? @domain.url : root_path do
            = image_tag @domain.banner.url
    %header.navbar.navbar-static-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    .container
      = render 'layouts/messages'
      .row
        - if @widgets_mode
          = yield
        - else
          .span12
            = yield
    %footer.footer
      .container
        © 2012
        = link_to 'RubyBB', 'http://www.rubybb.com'
        –
        = link_to 'Fork me on GitHub', 'https://github.com/RubyBB/RubyBB'
        –
        = link_to '@RubyBB_dev', 'https://twitter.com/RubyBB_dev'
        –
        = link_to 'Share on Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{u request.url}", rel: 'nofollow'
